<style>
html{
  font-family: '微軟正黑體';
  background-color: #DFE0DA;
}
#show_num{
  margin:auto;
  text-align: center;
  width:700px;
  height:500px;
  background-color: #F27162;
  color:#3A1010;
  font-weight: 900;
  font-size:350px;
}
#btn_div{
  margin-top: 50px;
  text-align: center;
}
.btn{
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  margin-left: 250px;
  margin-right: 250px;
  padding:50px 100px 50px 100px;
  background-color: #FFFF00;
  border-radius: 20px;
  border-color: #272623;
}
.btn:hover{
  border-radius: 0px;
  background-color: #272822;
  color:#FFFFFF;
}
#stop{
  display: none;
}
#show_tips{
  color:#292221;
  font-size: 24px;
  font-weight: 900;
}
#show_overlay{
  position:fixed;
  right:5px;
  bottom:5px;
  padding:10px 20px 10px 20px;
  background-color: #124505;
  border-color: #FAFAFA;
  color:#FFFFFF;
}
.overlay{
  display:none;
  width:100%;
  height:100%;
  background: rgba(52,45,44,0.8);
  position:fixed;
  z-index: 99;
  top:0px;
  left:0px;
}
.overlay_content{
  margin:auto;
  margin-top:100px;
  padding: 50px;
  width:400px;
  height:350px;
  border-radius: 10px;
  overflow-y:auto;
  text-align: center;
  color:#FFFDFD;
  font-size: 40px;
}
.overlay_footer{
  text-align: center;
}
.overlay_cance{
  cursor: pointer;
  padding:30px 60px 30px 60px;
  background-color: #000000;
  border-color: #000000;
  color:#FFFFFF;
}
.overlay_cance:hover{
  padding:30px 60px 30px 60px;
  background-color: #FBFBFB;
  border-color: #000000;
  color:#000000;
}
</style>